#myTable_wrapper {
    background-color: white;
    padding: 10px;
}

#myTable2_wrapper {
    background-color: white;
    padding: 10px;
}

#myTable3_wrapper {
    background-color: white;
    padding: 10px;
}

#myTable {
    background-color: white;
    padding: 10px;
}

#myTable2 {
    background-color: white;
    padding: 10px;
}

#myTable3 {
    background-color: white;
    padding: 10px;
}


